<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054326201764-t5m18msqgi1akhb3nlp9c8t00dse7ri7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054326201764-t5m18msqgi1akhb3nlp9c8t00dse7ri7</string>
	<key>API_KEY</key>
	<string>AIzaSyCyguFnJQas7PtSPXl5VYIt-mutI-f1Oz0</string>
	<key>GCM_SENDER_ID</key>
	<string>1054326201764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.qrquiz</string>
	<key>PROJECT_ID</key>
	<string>qrquiz</string>
	<key>STORAGE_BUCKET</key>
	<string>qrquiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054326201764:ios:98be17743d9db8645b7531</string>
</dict>
</plist>